<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Magaret Hamilton</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="container">
        <div class="imagen">
            <img src="img/hamilton_port.jpg" alt="Aquí va una foto">
        </div>
        
            <h1>Margaret Hamilton</h1>
            <p><strong>Profesión: </strong>Ingeniera de Software</p>
            <p><strong>País: </strong>Estados Unidos</p>
            <p><strong>Reseña: </strong> Margaret Hamilton (Paoli, Estados Unidos, 17 de agosto de 1963)) fue directora de
                ingeniería de software para el proyecto que escribió el código de la Guía de Apollo Computer (AGC).
                Desarrollado en el Laboratorio de Instrumentación del MIT para la misión Apolo 11, los programadores,
                literalmente, tuvieron que empezar de cero. <a href="https://es.wikipedia.org/wiki/Margaret_Hamilton_(cient%C3%ADfica)">Informacion</a></p>
            <a href="/"><button>Volver</button></a>       
    </div>
</body>
</html>