<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ada Lovelance</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="container">
        <div class="imagen">
            <img src="img/lovelance.jpg" alt="Aquí va una foto">
        </div>
                
                    <h1>Ada Lovelace</h1>
                    <p><strong>Profesión: </strong>Matemática e Informática</p>
                    <p><strong>País: </strong>Reino Unido</p>
                    <p><strong>Reseña: </strong> Augusta Ada King, Condesa de Lovelace (Londres, 10 de diciembre de 1815-íd., 27 de
                        noviembre de 1852), registrada al nacer como Augusta Ada Byron y conocida habitualmente como Ada Lovelace, fue
                        una matemática, informática y escritora británica, célebre sobre todo por su trabajo acerca de la calculadora de
                        uso general de Charles Babbage, la denominada máquina analítica. Entre sus notas sobre la máquina, se encuentra
                        lo que se reconoce hoy como el primer algoritmo destinado a ser procesado por una máquina, por lo que se la
                        considera como la primera programadora de ordenadores. <a href="https://es.wikipedia.org/wiki/Ada_Lovelace">Informacion</a></p>
                    <a href="/"><button>Volver</button></a>
               
    </div>
</body>

</html>